@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* Add in App.css or index.css */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}